html, body {
	font-size: 1rem;
}

h1.header, h1.title {
	text-align: center;
}


#main-wrapper {
	margin: 0 auto;
}

/* instructions view */
.instructions {
	margin-left: .4rem;
	margin-right: .4rem;
}

.get-started-btn {
	margin-left: .5rem;
}
/* instructions view */

/* phrases view */
#phrases-container {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

@media(min-width: 451px) {
	#main-wrapper {
		max-width: 900px;
	}

	#phrases-container {
		max-height: 360px;
	}
}

@media(max-width: 450px) {
	#main-wrapper {
		max-width: 100%;
	}

	#phrases-container {
		flex-wrap: nowrap;
	}
}

#phrase-form {
	max-width: 400px;
	margin: 0 auto;
}


#phrases-container .remove-phrase-btn {
	color: tomato;
	cursor: pointer;
}

#phrases-container .phrase-text {
	display: inline-block;
	min-width: 240px;
}

#phrase-form button {
	margin-top: 1rem;
}

.reset-phrases-btn, .show-bingo-card-btn {
	margin-bottom: .5rem;
	width: 100%;
}
/* phrases view */

/* bingo card view */
table th {
	text-align: center;
    border: 1px black solid;
}

#bingo-tile-container {
	margin: 0 auto;
}

#grid-wrapper button {
	display: block;
	margin-bottom: 0.5rem;
}

#grid-wrapper {
	margin: 0.5rem auto;
	text-align: center;
	max-width: 600px;
}

.gen-grid-btn, .reset-clicked-cells-btn {
	margin-top: .5rem;
	width: 100%;
}

.bingo-tile {
    width: 100px;
    height: 100px;
    border: 1px black solid;
	text-align: center;
	cursor: pointer;
}

.cell-clicked {
	background-color: #ffd04f;
}

.bingo-cell {
	background-color: #58c779;
}

@media print {
	#grid-wrapper button {
		display: none;
	}

	.gen-grid-btn {
		display: none;
	}
}
/* bingo card view */